.div-app{
    display: flex;
    flex-direction: column; /* Establece la dirección de los elementos en columna */
    align-items: center; /* Alinea los elementos horizontalmente */
    justify-content: center; /* Alinea los elementos verticalmente */
    margin: 40px;
}